.*.swp
doc
MANIFEST
dist
wiki
build
archlinux
scripts/poll
playground
curien-db
tags
TAGS
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
